<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Index</title>
        <link rel="stylesheet" href="/css/main.css">
    </head>
  <body>
    <%- include('../include/navbar'); %>
    <div class="message-flow">
      <% messages.map(message => {%>
        <div class="message-card">
            <% if (isLogged) { %>
            <div class="message-card--author">Author: <%= message.nickname %></div>
            <% } else { %>
            <div class="message-card--author">Author: Anon</div>
            <% } %>
            <hr>
            <p><%= message.msgText %></p>
            <!-- <form class="message-card--actions" action='/delete-message/:<%= message._id %>' method="POST">
              <button class="delete-message" type="submit">Delete</button>
              <input type="hidden" name="userid" value="<%= user.id %>">
            </form> -->
        </div>
    <% }) %>
    </div>
  </body>
</html>
